In [4]:
import pandas as pd 

houses = pd.read_csv('HousePricesClean.csv')

In [5]:
user = pd.DataFrame(columns = houses.columns.insert(0, "house_name"))
user.head()

Empty DataFrame
Columns: [house_name, id, date, bedrooms, bathrooms, living_area, lot_area, floors, waterfront, views, condition, grade, house_area, basement_area, year_built, year_renovated, post_code, lattitude, longitude, living_area_renov, lot_area_renov, schools, airport_distance, price]
Index: []

[0 rows x 24 columns]

In [6]:
user = user.drop(columns = ['id', 'date', 'year_renovated', 'basement_area', 'price', 'post_code'])
user.head()

Empty DataFrame
Columns: [house_name, bedrooms, bathrooms, living_area, lot_area, floors, waterfront, views, condition, grade, house_area, year_built, lattitude, longitude, living_area_renov, lot_area_renov, schools, airport_distance]
Index: []

In [7]:
user.to_csv("user_file.csv", index = False)